@use '../../1_base/variables';
@use '../../1_base/base.scss';

.priorities {
  //Title
  &-header {
    &-title {
      border-bottom: 1px solid variables.$global-border-color;
    }

    &-subTitle {
      color: variables.$global-subText-color;
    }
  }

  //Cards
  &-infos {
    justify-content: center;
    margin-top: 5em;

    &__card {
      border: 1px solid variables.$global-border-color;
      border-radius: 10px;
      padding: 20px 25px;
      width: 323px !important;
      transition: 0.185s;
      box-shadow: 0px 0px 23px -15px #000000;

      &:hover {
        background-color: variables.$color-primary-dark;
        color: variables.$color-neutral;

        .priorities-infos__card-text,
        .priorities-infos__card-data__sort,
        .priorities-infos__card-data__notSort {
          color: variables.$color-neutral;
        }
      }

      &-text {
        color: variables.$global-subText-color;
        border-bottom: 1px solid variables.$global-border-color;
        padding-left: 10px;
        padding-right: 115px;
        text-align: start;
      }

      &-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;

        &__numbers {
          font-size: 1.76em;
          font-weight: bold;
          font-family: Helvetica;
          box-sizing: border-box;
        }

        &__sort {
          font-size: 1.5em;
          color: variables.$global-subText-color;
          cursor: pointer;
          box-sizing: border-box;
        }

        &__notSort {
          font-size: 1.5em;
          color: variables.$global-subText-color;
          box-sizing: border-box;
        }
      }
    }
  }

  //Issues
  &-issue {
    &-panel {
      position: relative;
      background-color: variables.$priorities-info-bg;
      padding: 10px 25px;
      border-radius: 25px;

      &-header {
        margin-bottom: 16px;
        padding-bottom: 10px;
        border-bottom: 1px solid variables.$global-border-color;

        &__title {
          display: flex;
          align-items: center;
          gap: 16px;
          font-style: italic;
          color: variables.$global-text-color;
          font-weight: bold;

          .checked {
            color: variables.$priorities-info-check-color;

            &::after {
              background-color: variables.$priorities-info-check-bg;
            }
          }

          .processing {
            color: variables.$priorities-info-processing-color;

            &::after {
              background-color: variables.$priorities-info-processing-bg;
            }
          }

          &-icon {
            position: relative;

            svg {
              padding-bottom: 4px;
              position: relative;
              z-index: 1;
            }

            &::after {
              content: '';
              width: 35px;
              height: 35px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              border-radius: 50%;
            }
          }
        }
      }

      &-infos {
        margin-bottom: 16px;
        border-bottom: 1px solid variables.$global-border-color;

        table {
          line-height: 1.5em;
          font-family: 'Roboto', sans-serif;

          td {
            vertical-align: text-top !important;
          }
        }

        .table-title {
          padding-bottom: 13px;
        }

        .table-key {
          padding-right: 16px;
          padding-bottom: 6px;
          color: variables.$global-subText-color;
        }

        .table-value {
          font-weight: 500;
          color: variables.$global-text-color;
          text-align: start;
        }

        &-left,
        &-right {
          padding-bottom: 16px;
        }
      }

      &-commentSection {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        color: variables.$global-subText-color;
        padding-bottom: 16px;

        &__toggle {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          position: relative;

          &:hover {
            &::after {
              background-color: #1da0f22d;
            }
          }

          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25px;
            height: 25px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.comment {
  display: flex;
  gap: 6px;
  margin-bottom: 16px;
  background-color: variables.$priorities-info-comments;
  padding: 6px 16px;
  border-radius: 16px;
  width: 100%;
  border: 1px solid variables.$global-border-color;
  box-sizing: border-box;

  &-userProfile {
    padding-right: 6px;
    margin-right: 6px;
    border-right: 1px solid variables.$global-border-color;

    &-img {
      margin-top: 8px;
      border-radius: 50%;
    }
  }

  &-info {
    width: 100% !important;

    svg {
      font-size: 1.5em;
      cursor: pointer;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      padding-right: 32px;
      margin-bottom: 6px;

      &-tools {
        position: relative;
        cursor: pointer;

        &__toggle {
          position: relative;
          transition: ease-out 2s;
          z-index: 1;

          &:hover {
            &::after {
              background-color: #1da0f22d;
            }
          }
          &::after {
            content: '';
            position: absolute;
            width: 1.75em;
            height: 1.75em;
            top: -1px;
            left: -1.35px;
            border-radius: 50%;
            transition: 0.25s;
            z-index: -1;
          }
        }

        &__options {
          position: absolute;
          width: 5em;
          top: 20px;
          left: -70%;
          background-color: variables.$color-neutral;
          border: 1px solid variables.$global-border-color;
          border-radius: 5px;
          z-index: 2;

          & > *:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }

          & > *:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }

          li {
            padding: 3px 10px;
            text-align: start;
            color: variables.$global-text-color;
            margin-bottom: 0;
            font-weight: 600;

            &:hover {
              background-color: variables.$color-primary-dark;
              color: variables.$color-neutral;
              overflow: hidden;
            }
          }
        }
      }
    }

    &__at {
      color: variables.$global-subText-color;
      font-style: italic;
    }

    &__text {
      text-indent: 0.5em;
      padding-right: 32px;
      color: variables.$global-text-color;
    }

    &__tools {
      display: flex;
      gap: 16px;

      &-likes {
        display: flex;
        align-items: center;
        gap: 6px;

        &__count {
          color: variables.$global-subText-color;
        }

        &__thumb {
          color: variables.$global-subText-color;
        }

        &__thumbFill {
          color: #3b5998;
        }
      }

      &-replies {
        display: flex;
        align-items: center;
        gap: 6px;

        &__comment {
          color: variables.$global-subText-color;

          &:hover {
            color: variables.$color-primary-dark;
          }
        }

        &__count {
          color: variables.$global-subText-color;
        }
      }
    }
  }
}

.replies {
  margin: 10px 0px 0px 10px;
}
