//Forms
$form-invalid: #dc3545;

//Register
$form-boxShadow: 0px 12px 33px 0px rgba(0, 0, 0, 0.45);

//Side Content
$form-sideContent-bg: #f1efef;
$form-sideContent-text: #333;

//Register
$form-register-bg: white;
$form-input-border: #6c63ff;
$form-button-color: #6c63ff;
$form-button-hover: #5950ff;
$form-button-active: #4d46d1;
