//============================================================
//Colors
//============================================================
$color-primary: #6c63ff;
$color-primary-light: #5950ff;
$color-primary-dark: #4d46d1;

//============================================================
//Global
//============================================================
$global-border-color: #ccc;
$global-subText-color: #555555;

//============================================================
//Forms
//============================================================
$form-invalid: #dc3545;

//Register
$form-boxShadow: 0px 12px 33px 0px rgba(0, 0, 0, 0.45);

//Side Content
$form-sideContent-bg: #f1efef;
$form-sideContent-text: #333;

//Register
$form-register-bg: white;
$form-input-border: $color-primary;
$form-button-color: $color-primary;
$form-button-hover: $color-primary-light;
$form-button-active: $color-primary-dark;

//============================================================
//NavBar
//============================================================
$navbar-brand-font: 'Oleo Script', cursive;
$navbar-link-font: 'Roboto', sans-serif;
$navbar-toggler-color: #686868;
