@use '../1_base/variables';
@import '../1_base/base.scss';

.navbar {
  .nav-item .nav-link::after {
    display: none !important;
  }

  &__icon {
    color: variables.$form-button-color;
  }

  &__userDropdown {
    position: relative;

    .dropdown-menu {
      position: absolute;
      min-width: 100px !important;
      top: 100% !important;
      left: -50% !important;

      @media (max-width: 768px) {
        left: -100% !important;
      }
    }
  }

  &__link {
  }

  &__button {
    border-radius: 10px;
    color: white;
    background-color: variables.$form-button-color;

    &:hover {
      background-color: variables.$form-button-hover;
    }

    &:active {
      background-color: variables.$form-button-active;
    }
  }
}

//Menu Canvas
@media (max-width: 768px) {
  .offcanvas {
    max-width: 230px;

    .dropdown-menu {
      text-align: center;
    }
    .nav-link::after {
      display: none !important;
    }
  }
}
