@import './0_plugins/plugins.scss';
@import './1_base/base.scss';
@import './2_layouts/layouts.scss';
@import './3_modules/modules.scss';

@import '~bootstrap/dist/css/bootstrap.min.css';

#firstName-addon {
  background-color: white;
  border-start-end-radius: 10px;
  border-end-end-radius: 10px;
  border: none;
}
